
<h1>Listing Cryptos</h1>
<br>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Current Price ($) </th>
      <th>1 hr change</th>
      <th>24 hr change</th>
      <th>1 day change</th>
      <th>Current Value ($)</th>
      <th>Total Paid ($) </th>
      <!--<th>Symbol</th>-->
      <!--<th>User</th>-->
      <th>Profit / Loss ($)</th>
      <th>Cost Paid per ($)</th>
      
      <th>Amount owned</th>
     
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
    <% if crypto.user_id == current_user.id %>
      <tr>
      <% @lookup_crypto %>
      
          <% for x in @lookup_crypto %>
              
              <%if crypto.symbol%>
                <% crypto.symbol=crypto.symbol.upcase %>
              <%end%>
                  <% if crypto.symbol == x["symbol"] %>
                      
                     <td> <%= link_to x["name"] , crypto %></td>
                     <td> <%=  (x["rank"]) %></td>
                     <td> $<%=  (x["price_usd"]) %></td>
                     <td> <%=  x["percent_change_1hr"].to_f  %> % </td>
                     <td> <%=  x["percent_change_24hr"].to_f %> % </td>
                     <td> <%=  x["percent_change_7d"].to_f %> % </td>
                     
                     
                     <td>$<%=  x["price_usd"].to_f * crypto.amount_owned.to_f %></td>
                     <td>$<%= crypto.cost_per.to_f * crypto.amount_owned %>  </td>
                     
                     <td>$<%=  (x["price_usd"].to_f * crypto.amount_owned.to_d)- (crypto.amount_owned.to_f * crypto.cost_per.to_f  )%></td>
                     <% @profit_loss += (x["price_usd"].to_f * crypto.amount_owned.to_d)- (crypto.amount_owned.to_f * crypto.cost_per.to_f  )%>
                     
                  <%end%>
              
          <%end%>
      
        <!--<td><%= crypto.symbol %></td>-->
        <!--<td><%= crypto.user_id %></td>-->
        <td>$<%= crypto.cost_per %></td>
        <td><%= crypto.amount_owned %></td>
       
       
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>
<br>
<strong>Portfolio Profit / Loss : </strong> <%= number_to_currency(@profit_loss)%>

<br>
<br>
<%= link_to 'New Crypto', new_crypto_path, class:"btn btn-info" %>
